.DefaultFormBox {
  display: grid;
  width: 80%;
  padding: 5rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: var(--shadow-light);
  justify-items: center
}
  
.DefaultForm {
  display: grid;
  gap: 4rem;
  justify-items: left;
}

.DefaultFormButtonBox {
  margin-top: 2rem;
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}

@media only screen and (max-width:37.5em) {
  .DefaultFormBox {
    width: 100%;
    padding: 2rem;
  }
    
  .DefaultForm {
    justify-items: center;
  }
}

