.Container {
  width: 120rem;
  margin: 30px auto;
  display: grid;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  border-radius: 3px;
  overflow: hidden;
  
  grid-template-columns: 20% repeat(3, 1fr);
}

.Nav {
  grid-column: 1 / -1;
}

.SideNav {
  grid-column: 1 / 2;
}

.Main {
  grid-column: 2 / -1;
  padding: 5rem;
}
