nav {
  background-color: #eee;
  color: #800000;
}

nav ul a {
  color:#800000;
}

.btn {
  background-color: #800000;
  margin: 1px;
}

.btn:hover {
  background-color: #560000;
}

nav .brand-logo {
  color: #800000;
  font-family: 'Grand Hotel', cursive; 
}

nav .button-collapse i {  
  color: maroon;
}

nav .nav-wrapper {
  padding: 0 5% 0 5%;
}

/*Footer*/

footer.page-footer {
  background-color: #800000;
}

/* Interest */

img.activator {
  max-height: 200px;
}

.card .card-image img {
  width: unset;
  margin: auto;
}