.Card{
    width: 28%;
    display: inline-block;
    margin: 15px;
}

.info {
    max-height: 200px;
    max-width: 28%;
}

@media(max-width:500px){
    .Card{
        width: 100%
    }
}

@media(min-width:500px) and (max-width:800px){
    .Card{
        width: 40%
    }
}