.AllInterests {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  padding: 3rem;
  gap: 3rem;
}

@media only screen and (max-width:50em) {
  .AllInterests {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    padding: 3rem;
    gap: 3rem;
  }
}

@media only screen and (max-width:31.25em) {
  .AllInterests {
    grid-template-columns: 1fr;
  }
}